<launch>

  <node name="raspicam" pkg="raspicam" type="raspicam_node" />

  <arg name="device" default="" />
  <arg name="channels" default="1"/>
  <arg name="sample_rate" default="16000"/>
  <arg name="ns" default="audio_mp3"/>
  <group ns="$(arg ns)">
  <node name="audio_capture" pkg="audio_capture" type="audio_capture" output="screen">
    <param name="bitrate" value="128"/>
    <param name="device" value="$(arg device)"/>
    <param name="channels" value="$(arg channels)"/>
    <param name="sample_rate" value="$(arg sample_rate)"/>
  </node>
  </group>

  <node name="telemouse_avoidance" pkg="telemouse" type="telemouse_avoidance.py" />

</launch>